.client
  h3
    margin-top 1rem

  button
    cta(blue, blue, transparent)
    width 100%
    margin-top 1rem

  table
    background-color #F8F8F8
    margin-top 1rem

    tbody
      tr
        td
          color gray
          font-family 'Montserrat', sans-serif
          font-weight 600
          text-transform uppercase

          h4
            display inline-block
            min-width 160px