.create-project
  form
    display grid
    grid-gap 1rem
    align-items flex-end

    h2
      margin-top 1.5rem
      margin-bottom 0.5rem
      grid-column 1/-1
    
    button
      cta(blue, blue, transparent)