input
  width 100%
  padding 1rem
  border 1px solid gray
  font-size 1rem
  color black
  height 54px

  &:focus
    border 1px solid transparent
    outline 1px solid blue
    outline-offset 0
  
  &:disabled
    background-color transparent