header
  display flex
  flex-wrap wrap
  align-items center

  button
    cta(blue, blue, transparent)
    min-width 120px

  .text-container
    flex 1

    p
      margin-top 0.75rem
      color gray