.terms
  h2
    margin 1.5rem 0

  h3
    color black
    margin-bottom 1rem

  p
    margin-bottom 1.5rem

    strong
      font-weight 700
  
  img
    margin-bottom .5rem

  h4
    color black
    margin-bottom 1.5rem
  
  h5
    margin-bottom 1.5rem

  a
    text-transform uppercase
    font-size 0.8rem
    font-family 'Montserrat', sans-serif
    font-weight 600
    color blue
    text-decoration none
    text-transform uppercase
    display block
    line-height 1.6