button
  border none
  cursor pointer

cta(border, font, background)
  border 1px solid border
  color font
  background-color background
  height 54px
  transition all .3s

  &:hover
    background-color border
    border 1px solid border
    color white