table
  width 100%
  border 1px solid #EAEAEA

  thead
    background-color #F8F8F8

    tr
      td
        font-family 'Montserrat', sans-serif
        font-weight 600
        color black
        padding .75rem
        font-size .8rem
        text-transform uppercase
        border-bottom 1px solid #EAEAEA

  tbody
    tr
      td
        padding .75rem
        font-size .8rem

        button
          border 1px solid gray
          color gray 
          padding .5rem
          transition all .3s
          width 160px

          &:hover
            background-color gray
            color white
        
        .cross
          border none
          color black
          width auto

          &:hover
            background-color transparent
            color blue
            
      .left
        text-align left