// Import all partials
@require './base/_*.styl'
@require './utils/_*.styl'
@require './components/_*.styl'
@require './layout/_*.styl'

// General Styling
::-moz-selection
  color white
  background blue
  
::selection
  color white
  background blue

// Class to hide the elements
.hidden
  display none !important