html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700|Roboto");
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 2rem;
  color: #1957f3;
  font-weight: 300;
}
h1 strong {
  font-weight: 700;
}
p {
  font-size: 0.8rem;
  line-height: 1.9;
}
h2 {
  font-size: 1.5rem;
  color: #2f343d;
  font-weight: 700;
}
h3,
h4,
h5 {
  color: #aaa;
  font-weight: 600;
  font-size: 0.8rem;
}
h4,
h5 {
  text-transform: uppercase;
  line-height: 1.6;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #aaa;
}
button {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
main {
  margin: 1.5rem;
}
input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #aaa;
  font-size: 1rem;
  color: #2f343d;
  height: 54px;
}
input:focus {
  border: 1px solid transparent;
  outline: 1px solid #1957f3;
  outline-offset: 0;
}
button {
  border: none;
  cursor: pointer;
}
header p {
  margin-top: 0.75rem;
  color: #aaa;
}
hr {
  border: none;
  border-top: 1px solid #eaeaea;
  margin: 1rem 0;
}
footer {
  margin-top: 2rem;
  text-align: center;
  color: #aaa;
  font-size: 0.75rem;
}
footer a {
  color: #2f343d;
  text-decoration: none;
}
table {
  width: 100%;
  border: 1px solid #eaeaea;
}
table thead {
  background-color: #f8f8f8;
}
table thead tr td {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #2f343d;
  padding: 0.75rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
}
table tbody tr td {
  padding: 0.75rem;
  font-size: 0.8rem;
}
table tbody tr td button {
  border: 1px solid #aaa;
  color: #aaa;
  padding: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 160px;
}
table tbody tr td button:hover {
  background-color: #aaa;
  color: #fff;
}
.hidden {
  display: none;
}
.create-project form {
  display: grid;
  grid-gap: 1rem;
  -webkit-box-align: end;
          align-items: flex-end;
}
.create-project form h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  grid-column: 1/-1;
}
.create-project form button {
  border: 1px solid #1957f3;
  color: #1957f3;
  background-color: transparent;
  height: 54px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.create-project form button:hover {
  background-color: #1957f3;
  border: 1px solid #1957f3;
  color: #fff;
}
.client h3 {
  margin-top: 1rem;
}
.client button {
  border: 1px solid #1957f3;
  color: #1957f3;
  background-color: transparent;
  height: 54px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  margin-top: 1rem;
}
.client button:hover {
  background-color: #1957f3;
  border: 1px solid #1957f3;
  color: #fff;
}
.client table {
  background-color: #f8f8f8;
  margin-top: 1rem;
}
.client table tbody tr td {
  color: #aaa;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.client table tbody tr td h4 {
  display: inline-block;
  min-width: 160px;
}
.estimate {
  margin-top: 1.5rem;
}
.estimate h2 {
  margin-bottom: 1rem;
}
.estimate p {
  margin-bottom: 1.5rem;
}
.estimate p span {
  background-color: #eaeaea;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #1957f3;
  font-family: monospace;
  font-size: 1rem;
}
.estimate h3 {
  color: #2f343d;
  margin-bottom: 0.5rem;
}
.estimate table {
  text-align: center;
  margin-bottom: 1.5rem;
}
.estimate table tbody tr td input {
  display: inline;
  width: auto;
  height: auto;
  padding: 0;
  text-align: center;
  border: none;
  font-size: 0.8rem;
}
.estimate table tbody tr td input:invalid {
  border: 2px solid #c62300;
}
.estimate table tbody tr td strong {
  font-weight: 700;
  color: #1957f3;
}
.tasks {
  background-color: #f8f8f8;
  padding: 1.5rem;
  margin-top: 1.5rem;
}
.tasks h1 {
  margin-bottom: 1rem;
}
.tasks h2 {
  margin-bottom: 0.5rem;
}
.tasks h3 {
  color: #2f343d;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.tasks button {
  margin-top: 1rem;
  border: 1px solid #1957f3;
  color: #1957f3;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 1rem;
  margin-right: 1rem;
}
.tasks button:hover {
  background-color: #1957f3;
  border: 1px solid #1957f3;
  color: #fff;
}
.tasks .logout {
  margin-right: 0;
}
.tasks .title {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.tasks .title h2 {
  margin-bottom: 0;
  -webkit-box-flex: 1;
          flex: 1;
}
.tasks .title button {
  margin-top: 0;
}
.tasks form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  padding: 1rem;
}
.tasks form select {
  height: 54px;
  width: 100%;
  background-color: #fff;
}
.tasks form .remove {
  margin-top: 0;
  margin-left: 0;
  border-color: #aaa;
  color: #aaa;
}
.tasks form .remove:hover {
  background-color: #2f343d;
  color: #fff;
  border: 1px solid transparent;
}
.tasks form .add {
  margin-top: 0;
  margin-left: 0;
}
.tasks .sample {
  margin-left: 0;
  margin-top: 0;
}
.terms h2 {
  margin: 1.5rem 0;
}
.terms h3 {
  color: #2f343d;
  margin-bottom: 1rem;
}
.terms p {
  margin-bottom: 1.5rem;
}
.terms p strong {
  font-weight: 700;
}
.terms img {
  margin-bottom: 0.5rem;
}
.terms h4 {
  color: #2f343d;
  margin-bottom: 1.5rem;
}
.terms h5 {
  margin-bottom: 1.5rem;
}
.terms a {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #1957f3;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  line-height: 1.6;
}
