// Import all partials
@require './_*.styl'

// General Styling

main
  margin 1.5rem

input
  width 100%
  padding 1rem
  border 1px solid gray
  font-size 1rem
  color black
  height 54px

  &:focus
    border 1px solid transparent
    outline 1px solid blue
    outline-offset 0

button
  border none
  cursor pointer

header
  p
    margin-top 0.75rem
    color gray
  
hr
  border none 
  border-top 1px solid #EAEAEA
  margin 1rem 0

footer
  margin-top 2rem
  text-align center
  color gray
  font-size .75rem

  a
    color black
    text-decoration none

table
  width 100%
  border 1px solid #EAEAEA

  thead
    background-color #F8F8F8

    tr
      td
        font-family 'Montserrat', sans-serif
        font-weight 600
        color black
        padding .75rem
        font-size .8rem
        text-transform uppercase
        border-bottom 1px solid #EAEAEA

  tbody
    tr
      td
        padding .75rem
        font-size .8rem

        button
          border 1px solid gray
          color gray 
          padding .5rem
          transition all .3s
          width 160px

          &:hover
            background-color gray
            color white

// Class to hide the elements
.hidden
  display none !important

// Estimate creator
.create-project
  form
    display grid
    grid-gap 1rem
    align-items flex-end

    h2
      margin-top 1.5rem
      margin-bottom 0.5rem
      grid-column 1/-1
    
    button
      border 1px solid blue
      color blue
      background-color transparent
      height 54px
      transition all .3s

      &:hover
        background-color blue
        border 1px solid blue
        color white

// Client data
.client
  h3
    margin-top 1rem

  button
    border 1px solid blue
    color blue
    background-color transparent
    height 54px
    transition all .3s
    width 100%
    margin-top 1rem

    &:hover
      background-color blue
      border 1px solid blue
      color white

  table
    background-color #F8F8F8
    margin-top 1rem

    tbody
      tr
        td
          color gray
          font-family 'Montserrat', sans-serif
          font-weight 600
          text-transform uppercase

          h4
            display inline-block
            min-width 160px

// Estimate data
.estimate
  margin-top 1.5rem

  h2
    margin-bottom 1rem
  
  p
    margin-bottom 1.5rem

    span
      background-color #EAEAEA
      padding 0.25rem 0.5rem
      border-radius .25rem
      color blue
      font-family monospace
      font-size 1rem
  
  h3
    color black
    margin-bottom 0.5rem

  table
    text-align center
    margin-bottom 1.5rem

    tbody
      tr
        td
          input
            display inline
            width auto
            height auto
            padding 0
            text-align center
            border none
            font-size .8rem

            &:invalid
              border 2px solid #C62300
          
          strong
            font-weight 700
            color blue

// Tasks
.tasks
  background-color #f8f8f8
  padding 1.5rem
  margin-top 1.5rem

  h1
    margin-bottom 1rem
  
  h2
    margin-bottom .5rem

  h3
    color black
    margin-top 1rem
    margin-bottom 0.5rem

  button
    margin-top 1rem
    border 1px solid blue
    color blue
    background-color transparent
    transition all .3s
    padding 1rem
    margin-right 1rem

    &:hover
      background-color blue
      border 1px solid blue
      color white

  .logout
    margin-right 0

  .title
    display flex
    align-items center

    h2
      margin-bottom 0
      flex 1
    
    button
      margin-top 0

  form
    display grid
    grid-template-columns repeat(auto-fit, minmax(320px, 1fr))
    grid-gap 1rem
    margin-bottom 1.5rem
    border 1px solid #CCCCCC 
    padding 1rem

    select
      height 54px
      width 100%
      background-color white

    .remove
      margin-top 0
      margin-left 0
      border-color gray
      color gray
      
      &:hover
        background-color black
        color white
        border 1px solid transparent
    
    .add
      margin-top 0
      margin-left 0

  .sample
    margin-left 0
    margin-top 0

// Terms
.terms
  h2
    margin 1.5rem 0

  h3
    color black
    margin-bottom 1rem

  p
    margin-bottom 1.5rem

    strong
      font-weight 700
  
  img
    margin-bottom .5rem

  h4
    color black
    margin-bottom 1.5rem
  
  h5
    margin-bottom 1.5rem

  a
    text-transform uppercase
    font-size 0.8rem
    font-family 'Montserrat', sans-serif
    font-weight 600
    color blue
    text-decoration none
    text-transform uppercase
    display block
    line-height 1.6